* {
    box-sizing: border-box;
    text-align: center;
}

body {
    margin: 0px;
    font-family: 'Inter';
}

.header {
    background-color: #F55A5A;
    height: 55px;
    display: flex;
    flex-direction: column;
}

.headline {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.075em;
    color: #FFFFFF;
}

.fa-earth-europe {
    height: 24px;
    width: 24px;
}


.main {
    display: flex;
    margin: auto;
    width: 550px;
    margin-top: 50px;
    margin-bottom: 50px;
}

img {
    height: 168px;
    width: 125px;
    border-radius: 5px;
}

.description {
    margin-left: 10px;

}

.descriptionText,
.location,
.map {
    font-size: 10px;
    font-weight: 400;
    text-align: left;
}

.title,
.date {
    text-align: left;
}

.descriptionText {
    width: 450px;
    line-height: 15px;

}

.location {
    line-height: 12px;
    letter-spacing: 0.17em;
}

.fa-location-dot {
    height: 9.5px;
    width: 7px;
    color: #F55A5A;
    margin-right: 5px;
}

.map {
    line-height: 12px;
    letter-spacing: 0em;
    color: #918E9B;
}

.title {
    color: #2B283A;
    font-size: 25px;
    font-weight: 700;
    line-height: 30px;
}

.date {
    font-size: 10px;
    font-weight: 700;
    line-height: 12px;
    color: #2B283A;
}